<%= render "shared/header" %>
<div class='all-task-box'>
  <div class='working-task-box'>
    <div class='title-box'>
      <h1 class='title'>作業中のタスク</h1>
      <a href="/tasks/new">
        <button class='maiking-task' type="button" name="name" value="value">仕事の登録</button>
      </a>
    </div>
    <ul class='working-tasks'>
      <% @tasks.each do |task| %>
        <% if task.done_id == 1 && (task.deadline + 6) >= Date.today%>
          <%if (task.deadline - task.notice + 1) <= Date.today%>
            <%= link_to edit_task_path(task.id) do %>
              <li class='task' style="background-color:rgb(241, 131, 153)">
                <%= task.name %>
                <q class='deadline'>期限:<%= task.deadline %></q>
              </li>
            <% end %>
          <%else%>
            <%= link_to edit_task_path(task.id) do %>
              <li class='task'>
                <%= task.name %>
                <q class='deadline'>期限:<%= task.deadline %></q>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class='done-task-box'>
    <div class='title-box'>
      <h1 class='title'>終了タスク</h1>
      <a href="/tasks/:task_id/historys">
        <button class='maiking-task' type="button" name="name" value="value">履歴</button>
      </a>
    </div>
    <ul class='done-tasks'>
      <% @tasks.each do |task| %>
        <% if task.done_id != 1 && (task.deadline + 6) >= Date.today%>
          <%= link_to edit_task_path(task.id) do %>
            <li class='task'>
              <%= task.name %>
              <q class='deadline'>期限:<%= task.deadline %></q>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

