<%= render "shared/header" %>
<div class='task-form'>
  <div class='title-box'>
  <h1 class='title'>仕事情報の入力</h1>
  </div>
  <div class='task-form-box'>
    
    <%# <%= form_with  %>
    <div class='weight-bold-text'>
    作業名
    </div>
    <%# <%= f.text_area :name, class:"tasks-info", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %> %>
    <div class='weight-bold-text'>
    期限
    </div>
    <%# <%= f.text_area :deadline, class:"tasks-info", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %> %>
    <div class='weight-bold-text'>
    注意・警告(○日前)
    </div>
    <%# <%= f.text_area :caution, class:"tasks-info", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %> %>
    <div class='weight-bold-text'>
    重要性
    </div>
    <%# <%= f.text_area :importance, class:"tasks-info", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %> %>
    <div class='but-box'>
      <%# <%= f.submit "作成" ,class:"make-btn" %> %>
      <%# <%= f.submit "終了" ,class:"done-btn" %> %>
      <%# <%=link_to 'もどる', root_path, class:"back-btn" %> %>
    </div>
    <%# <% end %>
  </div>
</div>